
@{
    ViewBag.Title = "New";
}

<h2>New</h2>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/application-ac9e07210def06861ee4d3ebd9176fc1.css" media="screen" rel="stylesheet" />

    <script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
analytics.load("YgqHCxZJ0pPDmzclPxXaun263PSozEY7");
analytics.page()
}}();
    </script>
    <script src="//cdn.optimizely.com/js/2869700362.js"></script>

    <title>66K 工作網</title>

    <meta content="66K 工作網，提供 66K+ 優質好工作" name="description" />
    <meta content="" name="keywords" />
    <link href="http://66kjobs.tw/images/og-image.jpg" rel="image_src" />


    <meta content="authenticity_token" name="csrf-param" />
    <meta content="q32EfCoSAyLS8ObiR/UtF/Psl0yu0Km2WWU+fZ51Tmk=" name="csrf-token" />

</head>
<body>

    <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">66K 工作網</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li> <a href="/pages/about">關於本站</a>       </li>

                        <li>          <a href="/subscriptions/new">訂閱工作快遞</a>       </li>

                        <li> <a href="https://www.facebook.com/66kjobs" target="_blank">本站粉絲頁</a>  </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <div class="social"> <div class="fb-like" data-href="http://66kjobs.tw" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90"></div>  </div>
                        </li>



                    </ul>
                    </li>


                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>




        <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-primary btn-circle">1</button>
                    <p>張貼工作內容</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
                    <p>預覽</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                    <p>確定張貼</p>
                </div>
            </div>
        </div>
        @*<div class="stepwizard">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1">張貼工作內容
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> 預覽
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> 確定張貼
            </label>
        </div>*@

            <div class="new-job">


                <p class="new-job-desc">
                    你張貼的工作會在這個網站上停留三十天，三十天過後這個徵才啟事會過期，你可以隨時再回來重新張貼工作廣告。
                </p>

                <br><br>
                <h3> STEP 1 : 撰寫工作內容 </h3>

                <hr>



                <br><br>

                <form accept-charset="UTF-8" action="/jobs/preview" class="simple_form form-horizontal" id="new_job" method="post" novalidate="novalidate">
                    <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="q32EfCoSAyLS8ObiR/UtF/Psl0yu0Km2WWU+fZ51Tmk=" /></div>




                    <h4 class="instruction"> &nbsp; &nbsp;&nbsp;第一步，告訴我們詳細資訊 </h4>


                    <div class="form-group string required job_title"><label class="string required col-sm-2 control-label" for="job_title"><abbr title="required">*</abbr> Job Title</label><div class="col-sm-10"><input class="string required form-control" id="job_title" name="job[title]" type="text" /><p class="help-block">“Senior Designer” or “Rails Programmer”</p></div></div>


                    <div class="form-group radio_buttons optional job_category_id"><label class="radio_buttons optional col-sm-2 control-label">Category</label><div class="col-sm-10"><span class="radio"><label for="job_category_id_8" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_8" name="job[category_id]" type="radio" value="8" />醫療</label></span><span class="radio"><label for="job_category_id_2" name="job[category_id]"><input checked="checked" class="radio_buttons optional" id="job_category_id_2" name="job[category_id]" type="radio" value="2" />程式設計</label></span><span class="radio"><label for="job_category_id_7" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_7" name="job[category_id]" type="radio" value="7" />其他</label></span><span class="radio"><label for="job_category_id_4" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_4" name="job[category_id]" type="radio" value="4" />市場開發 / 業務</label></span><span class="radio"><label for="job_category_id_9" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_9" name="job[category_id]" type="radio" value="9" />電子業</label></span><span class="radio"><label for="job_category_id_3" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_3" name="job[category_id]" type="radio" value="3" />網路行銷</label></span><span class="radio"><label for="job_category_id_1" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_1" name="job[category_id]" type="radio" value="1" />視覺設計</label></span><span class="radio"><label for="job_category_id_6" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_6" name="job[category_id]" type="radio" value="6" />行銷 / 企劃</label></span><span class="radio"><label for="job_category_id_5" name="job[category_id]"><input class="radio_buttons optional" id="job_category_id_5" name="job[category_id]" type="radio" value="5" />網站內容編輯</label></span></div></div>


                    <div class="form-group integer optional job_lower_bound">
                        <label class="integer optional col-sm-2 control-label" for="job_lower_bound">薪水</label><div class="col-sm-10">
                            <div class="input-prepend input-append">
                                <input class="string optional" id="job_lower_bound" name="job[lower_bound]" placeholder="下限 (Lower bound)" type="text" /> ~
                                <input class="string optional" id="job_higher_bound" name="job[higher_bound]" placeholder="上限 (Higher bound)" type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group string required job_location"><label class="string required col-sm-2 control-label" for="job_location"><abbr title="required">*</abbr> 工作地點</label><div class="col-sm-10"><input class="string required form-control" id="job_location" name="job[location]" type="text" /><p class="help-block">臺北 / 高雄 / 上海 / ...etc.</p></div></div>

                    <div class="form-group text required job_description">
                        <label class="text required col-sm-2 control-label" for="job_description"><abbr title="required">*</abbr> 工作敘述</label><div class="col-sm-10">
                            <textarea class="text required form-control" data-provide="markdown" id="job_description" name="job[description]" rows="10">
</textarea><p class="help-block">使用 Markdown 語法</p>
                        </div>
                    </div>

                    <div class="form-group text required job_apply_instruction">
                        <label class="text required col-sm-2 control-label" for="job_apply_instruction"><abbr title="required">*</abbr> 如何應徵</label><div class="col-sm-10">
                            <textarea class="text required form-control" id="job_apply_instruction" name="job[apply_instruction]" rows="3">
</textarea><p class="help-block">Example: Send a resume to hr@mycompany.com</p>
                        </div>
                    </div>


                    <h4 class="instruction"> &nbsp; &nbsp;&nbsp;介紹你的公司 </h4>

                    <br><br>


                    <div class="form-group string optional job_company_name"><label class="string optional col-sm-2 control-label" for="job_company_name">公司 / 組織名稱</label><div class="col-sm-10"><input class="string optional col-lg-4 form-control" id="job_company_name" name="job[company_name]" type="text" /><p class="help-block">Enter your company or organization’s name.</p></div></div>

                    <div class="form-group url optional job_url"><label class="url optional col-sm-2 control-label" for="job_url">URL</label><div class="col-sm-10"><input class="string url optional form-control" id="job_url" name="job[url]" type="url" /></div></div>
                    <div class="form-group email optional job_email"><label class="email optional col-sm-2 control-label" for="job_email">Email</label><div class="col-sm-10"><input class="string email optional form-control" id="job_email" name="job[email]" type="email" /><p class="help-block">This is where we’ll send your receipt and confirmation email.</p></div></div>


                    <hr>

                    <div class="form-group text optional job_description">
                        <label class="text optional col-sm-1 control-label" for="job_description"></label>
                        <div class="col-sm-11">
                            <input class="btn btn-lg btn-danger" name="commit" type="submit" value="預覽徵才啟事" />
                        </div>
                    </div>


                </form>


            </div>



            <div id="fb-root"></div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) { return; }
                    js = d.createElement(s); js.id = id;

                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=710686532311958";

                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>


            <div id="modal-from-dom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-from-dom-label" aria-hidden="true">

            </div>

            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-52771099-1']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>


            <script src="/assets/application-6767c5ea39d0d4010eb8a4db01004ee9.js"></script>



        </div>
</body>
</html>
